@import './reset.scss';
@import './colors.scss';
@import './fonts.scss';
@import './flex-grid.scss';
@import './spaces.scss';

body {
    font-size: 14px;
    line-height: 100%;
    font-family: 'Titillium Web', sans-serif;
    color: $gray900;
}
